<h1>my name is <%=["almond", "misty", "nutty"].sample.capitalize%></h1>
<div style='border: 20px dashed purple'>
  <img src='https://www.burgesspetcare.com/wp-content/uploads/2020/02/april-blog-1.jpg'>
 </div>
